body {
	
	background-image: url('http://a4.files.theultralinx.com/image/upload/MTI5MDI0MjYxMDYxOTczMjY2.gif');
	background-repeat: no-repeat;
	background-position: 0 -80px;
}

#main {
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.ryu {
	width: 659px;
	height: 494px;
	xoutline: 1px solid pink;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-cool	{
	 background-image: url('../images/ryu-cool.gif');
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 170px;
	left: 600px;
}



