body {
	background-color: black;
    font-family: 'Roboto-Light', sans-serif;
    }

#instructions {
	text-align: center;
	color: white;
	font-size: 24px;
	padding: 35px;
}

#main {
	margin-top: 40px;
	padding-left: 100px;
	min-width: 1200px;
	height: 550px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	background-image: url('http://41.media.tumblr.com/tumblr_lsi8p153Ix1qer7uso1_1280.jpg');
	background-repeat: no-repeat;
	background-position: 0 -350px;
}

.ryu {
	width: 659px;
	height: 550px;
	xoutline: 1px solid pink;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 550px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-cool	{
	 background-image: url('../images/ryu-cool.gif');
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	top: 170px;
	left: 600px;
}



